.Rproj.user
.Rhistory
.RData
.Ruserdata

data_carto
data
data_vcf

geno.snmfProject
genotype.snmfProject

wc2.0_30s_bio
Europ_clim
diyabc


Rendu/tex/thx.tex

Rendu/tex/intro.log
Rendu/tex/mat_meth.log
Rendu/tex/result.log
Rendu/tex/discuss.log


Rendu/CR_Stage_P_pedemontana_LECA.aux
Rendu/CR_Stage_P_pedemontana_LECA.bbl
Rendu/CR_Stage_P_pedemontana_LECA.blg
Rendu/CR_Stage_P_pedemontana_LECA.log
Rendu/CR_Stage_P_pedemontana_LECA.out
Rendu/CR_Stage_P_pedemontana_LECA.synctex.gz
Rendu/CR_Stage_P_pedemontana_LECA.toc
